body{
  color: white;
	  background-image: url("stars.jpg");
  background-attachment: fixed;
}
.border , .chemGroup , .waterGroup .tempGroup{
	height: 100px;
	border-style: solid;
}
.border:hover{
	  box-shadow: 0 0 30px #E4E4E4;
}
.row{
	padding-top: 20px;
}
img{
	height: 100%;
}
h2{
	width: 200px;
	text-shadow: 0 0 7px white;
	margin:auto;
}

button{
	margin-left: 1020px;
	margin-bottom: 10px;
}
.createBox{
	height: 100%;
	border-style: solid;
	margin-bottom: 80px;

}
img{
	width: 40%;
}
h3{
	color: red;
}
/*********** NOTE: code below directly from we3schools and hasn't bee modified yet*/
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 30px;
}
